// stylelint-disable selector-max-type, selector-class-pattern

html {
  font-size: $root-font-size;
}

body {
  height: 100vh;
  overflow: hidden;
  background: $color-body-bg;

  @extend %typography-small;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  @extend %typography-xxlarge;
}

h2 {
  @extend %typography-xlarge;
}

h3 {
  @extend %typography-large;
}

h4 {
  @extend %typography-medium;

  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
}

h5,
h6 {
  @extend %typography-small;
}

a,
a:visited {
  color: $color-link-text;
}

img {
  display: block;
}
