.form-element {
  + .form-element {
    margin-top: rem(28px);
  }
}

.form-box {
  border: 1px solid var(--color-divider);
}

.block-label {
  margin-bottom: rem(8px);
  font-size: rem(15px);
  font-weight: bold;
  text-transform: uppercase;
}

.input-label {
  margin: rem(6px 0);
  font-size: rem(14px);
}

.form-wrap {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-item {
  margin-bottom: 1.5rem;
}

.form-title {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: arial, serif;
  font-weight: bold;

  &--small {
    font-size: 0.8rem;
    font-weight: normal;
  }
}
