@import '@lib/styles/index.scss';
@import './helpers.scss';
@import './form.scss';

:root {
  --header-height: #{rem(64px)};
}

.el-input {
  font-size: rem(16px);
}

.el-radio-button__inner {
  padding-right: 0;
  padding-left: 0;
}

.el-header {
  height: 64px;
}
