$main-font-family: "Source Sans Pro", Arial, sans-serif;

$heading-font-family: $main-font-family;
$heading-font-weight: 400;

$content-font-family: $main-font-family;
$content-font-weight: 400;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text;
}
