$primary: #0086ff;
$primary-light: #1c8afa;
$primary-lightest: #409eff;
$primary-black: #000;
$primary-text: white;

$color-success: #69c755;
$color-primary: $primary;
$color-error: red;

// CONTENT§
$color-body-bg: white;
$color-header-bg: white;
$color-text: #000;
$color-text-light: lighten($color-text, 60%);
$color-heading-text: #35495e;
$color-divider: #e4e7ed;

// LINKS
$color-link-text: #39a275;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONS
$color-button-bg: $primary;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: white;

// GLOBAL
$color-aside-bg: $primary-black;
$color-main-bg: white;
