.modal {
  .el-dialog {
    width: 33%;

    @media screen and(max-width: 768px) {
      width: 90%;
    }

    @media screen and(min-width: 768px) and (max-width: 1200px) {
      width: 60%;
    }

    @media screen and(min-width: 1200px) and (max-width: 1360px) {
      width: 40%;
    }
  }

  .el-dialog__header {
    padding: 35px 35px 0 35px;
    text-align: center;
  }

  .el-dialog__title {
    font-size: 20px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &__radios {
    display: flex;
    flex-direction: column;

    .el-radio {
      margin: 5px 0;
    }
  }

  &__descriptor {
    .el-input__suffix {
      font-size: 18px;
      color: #4c91f8;
    }
  }
}
